@import url(http://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Sanchez);
html {
    overflow-x: hidden;
}

body {
    font-family: 'RobotoDraft', arial, sans-serif;
    background: #fff;
    overflow-x: hidden;
    max-width: 100%;
    color: #444444;
    background-color: #eeeeee
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sanchez', serif;
}

.collapsible-header {
    font-size: 25px;
    text-align: center;
}

.last-content {
    display: block;
    margin-right: auto;
    margin-left: auto;
}



.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #1976d2 !important;
    will-change: left, right
}

.tabs .tab a {
    color: #1976d2 !important;
}

.tabs .tab a:hover {
    color: rgba(25, 118, 210, 0.7) !important;
}

.banner {
    position: absolute;
    background-color: #437af8;
    height: 400px;
    width: 100% overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 250px;
        overflow-x: hidden;
    }
    .card-panel {
        top: -90px;
        position: relative;
        overflow-x: hidden;
    }
    .brand-logo {
        font-size: .7rem;
    }
}

.container-fluid {
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.pagination .active {
    background-color: #009688/* Products Page Navigation Active Color*/
    !important;
}

.side-nav-logo a:hover {
    background: none;
}

#index-banner {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}

.post-introduction-card {
    margin-top: 75px !important;
    margin-bottom: 75px !important;
}

.content--company {
    background: #ececec
}

.contact-block {
    background: white;
    margin-top: 30px;
}

.img-profile {
    padding-top: 10px;
    width: 35% !important;
}

.brand-logo {
    font-size: 20px !important/* note use of "!important" to override any other stylesheets */
    ;
    font-weight: inherit;
}

blockquote {
    border-left: 5px solid #1565c0 !important
}

.content-intro {
    position: absolute;
    width: 100%;
    padding-bottom: 200px;
    background: #6c8693 !important;
    z-index: -1;
    min-height: 400px
}

nav {
    background: #627884 !important;
}

.tabs {
    background: #6c8693 !important;
    padding-bottom: 25px!important;
}

.tabs .tab a {
    color: white !important;
}

.tabs .tab a:hover {
    color: #eeeeee !important;
}

.tabs .indicator {
    background-color: #ececec !important;
}

.page {
    background: #fff;
    padding: 35px;
    color: #666666;
    margin-top: 10px !important;
    border-radius: 1px;
    z-index: 1;
    height: auto !important;
    padding-bottom: 75px;
}

.tiny {
    font-size: 1rem !important;
}

.tiny-nav {
    font-size: 1.4rem !important;
}

ul.listed {
    font-size: 1.15rem;
    margin: 50px;
    list-style-type: circle !important;
}

p {
    font-size: 1.1rem !important
}
.link {
    color: #b11a3b !important;
    font-weight: 500;
}
.indent {
    margin-left: 5%;
    color: #777 !important;

}
